[package]
name = "cw-multi-test"
version = "0.16.5"
authors = ["Ethan Frey <ethanfrey@users.noreply.github.com>"]
edition = "2021"
description = "Test helpers for multi-contract interactions"
license = "Apache-2.0"
repository = "https://github.com/CosmWasm/cw-multi-test"
homepage = "https://cosmwasm.com"

[features]
default = ["iterator", "staking", "cosmwasm_1_1"]
iterator = ["cosmwasm-std/iterator"]
stargate = ["cosmwasm-std/stargate"]
staking = ["cosmwasm-std/staking"]
backtrace = ["anyhow/backtrace"]
cosmwasm_1_1 = ["cosmwasm-std/cosmwasm_1_1"]
cosmwasm_1_2 = ["cosmwasm_1_1", "cosmwasm-std/cosmwasm_1_2"]
cosmwasm_1_3 = ["cosmwasm_1_2", "cosmwasm-std/cosmwasm_1_3"]
cosmwasm_1_4 = ["cosmwasm_1_3", "cosmwasm-std/cosmwasm_1_4"]

[dependencies]
cw-utils = "1.0.1"
cw-storage-plus = "1.1.0"
cosmwasm-std = { version = "1.4.0", features = ["staking", "stargate"] }
itertools = "0.11.0"
schemars = "0.8.13"
serde = { version = "1.0.188", default-features = false, features = ["derive"] }
prost = "0.12.0"
anyhow = "1.0.75"
thiserror = "1.0.48"
derivative = "2.2.0"
sha2 = "0.10.7"

[dev-dependencies]
# We don't use these dependencies directly,
# we tighten versions that builds with `-Zminimal-versions` work.
ecdsa = "0.16.8"
