[package]
name = "cw-multi-test"
version = "3.0.0-ibc-alpha.0"
authors = [
    "Ethan Frey <ethanfrey@users.noreply.github.com>",
    "Dariusz Depta <DariuszDepta@users.noreply.github.com>",
]
description = "Testing tools for multi-contract interactions"
repository = "https://github.com/CosmWasm/cw-multi-test"
homepage = "https://cosmwasm.com"
license = "Apache-2.0"
edition = "2021"

[features]
default = []
backtrace = ["anyhow/backtrace"]
staking = ["cosmwasm-std/staking"]
stargate = ["cosmwasm-std/stargate"]
cosmwasm_1_1 = ["cosmwasm-std/cosmwasm_1_1"]
cosmwasm_1_2 = ["cosmwasm_1_1", "cosmwasm-std/cosmwasm_1_2"]
cosmwasm_1_3 = ["cosmwasm_1_2", "cosmwasm-std/cosmwasm_1_3"]
cosmwasm_1_4 = ["cosmwasm_1_3", "cosmwasm-std/cosmwasm_1_4"]
cosmwasm_2_0 = ["cosmwasm_1_4", "cosmwasm-std/cosmwasm_2_0"]

[dependencies]
anyhow = "1.0.86"
bech32 = "0.11.0"
cosmwasm-std = "2.0.4"
cw-storage-plus = "2.0.0"
cw-utils = "2.0.0"
derivative = "2.2.0"
itertools = "0.13.0"
prost = "0.13.1"
schemars = "0.8.21"
serde = "1.0.204"
sha2 = "0.10.8"
thiserror = "1.0.61"

serde_json = "1.0.40"
cosmwasm-schema = "2.0.3"
log = "0.4.20"
cw20-ics20 = "2.0.0"
hex = "0.4.3"

[dev-dependencies]
hex = "0.4.3"
hex-literal = "0.4.1"
once_cell = "1.19.0"
